# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
.env/
*.env

# IDE / Editor settings
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build / cache
*.egg-info/
dist/
build/

serviceAccountKey.json
*.json
!package.json